html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* Areas */
#side {
	height: 100%;
	overflow-y: scroll;
	width: 30%;
}

/* Module Styles */
.module {
	border: 1px solid;
	margin: 5px 3px;
}
.module h2 {
	margin: 5px;
}

.sml-input {
	width: 40px;
}

/* Making tables by column */
table.byCol {
	display: table;
}
table tr.byCol {
	display: table-cell;
}
table tr td.byCol {
	display: block;
}